<!DOCTYPE html>
<html>
<head>
  <title>Cellstest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render_cell :rank, :show %>
<%= yield %>

</body>
</html>
